@charset "ISO-8859-1";

#footer {
  background-color: #333; /* Replace with your desired color */
  color: #fff; /* Replace with your desired text color */
  padding: 20px;
  text-align: center;
}

#footer p {
  margin-bottom: 10px;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline-block;
  margin-right: 10px;
}

#footer a {
  text-decoration: none;
  color: inherit; /* Inherit font color from footer */
}

#footer a:hover {
  color: #fff; /* Change to your desired hover color */
}
